@charset "UTF-8"

@import "../../../bower_components/colors/sass/variables"
@import "../colors"
@import "../define"

#blog
  background-color: $CARROT
  padding: $gap-lg 0

  #blog-grid
    color: darken($CARROT, 25%)
    padding: 0 20px

    a
      color: darken($CARROT, 25%)

      &:hover
        color: darken($CARROT, 32%)

    li
      background-color: lighten($CARROT, 10%)
      border-right: 2px solid $CARROT
      list-style: none
      min-height: 200px

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3)
        border-bottom: 2px solid $CARROT

      &:nth-child(3n)
        border-right: none

      h3
        border-bottom: 1px solid darken($CARROT, 10%)
        margin: 0 0 $gap-s
        padding-bottom: $gap-s

      &.has-thumbnail
        position: relative

        h3
          background-color: rgba(0, 0, 0, .6)
          color: $white
          line-height: 1.5em
          text-indent: 0.5em
          position: absolute
          left: 0
          right: 0
          bottom: 0

      &.no-thumbnail
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

@media (max-width: 360px)
  #blog #blog-grid
    li
      border: none

      + li
        margin-top: $gap-xs