@charset "UTF-8"

@import "../../../bower_components/colors/sass/variables"
@import "../define"

body, html
  height: 100%

.page-header
  border-bottom-width: 3px
  color: $white
  margin: 0 auto $gap
  text-align: center
  width: 30%

  h2
    margin-top: 0
