@charset "UTF-8"

@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "../../../bower_components/colors/sass/variables"

#top-bar
  background: none
  border-bottom: none
  transition: 0.3s all

  &.active
    background-color: rgba(34, 34, 34, .9)
    border-bottom: 1px solid $navbar-inverse-border
    box-shadow: 0 2px 1px rgba(0, 0, 0, .25)

    .active
      background-color: lighten($navbar-inverse-bg, 15%)

      a
        border: none

    .navbar-nav li:hover
      background-color: lighten($navbar-inverse-bg, 10%)

  .navbar-brand
    color: $white

  .navbar-nav
    > li
      transition: 0.3s all

      > a
        color: $white

      &.blog span
        background: $red
        border-radius: 100%
        color: #FFF
        font-family: Arial
        font-size: 10px
        line-height: 20px
        width: 20px
        text-align: center
        position: absolute
        top: $gap-xs
        right: 0

    > .active a
      background: none
      border-bottom: 2px solid $white
      font-weight: bold