body, html
  height: 100%

body
  font-family $body-font

h1, h2, h3
  font-family $heading-font

a.external::after
  content: $fa-var-external-link-square
  font-family: FontAwesome
  margin-left: 0.25em

@media (max-width: $xs-max-width)
  .page-header
    margin-left: 20px
    margin-right: 20px
    width: auto