$gap = 1.5rem
$gap-m = 1rem
$gap-s = $gap / 2
$gap-xs = $gap / 4
$gap-lg = $gap * 2

$body-font = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei",sans-serif'
$heading-font = '"Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", Simhei, sans-serif'

$navbar-inverse-border = #090909
$navbar-inverse-bg = #484848