#about-me
  background-color: $BELIZE_HOLE
  color: white

  .gravatar
    width 100%

  .intro
    position: relative

    h2
      border-bottom: 2px solid white
      margin: 0 0 $gap
      padding: 0 0 $gap-s
      width: 30%

    a
      color: yellow

  .weibo
    margin-top: $gap

    img
      max-width: 100%

  .resume
    border-left: .125rem solid white
    margin: 0 0 0 6rem
    padding-left: 1.375rem

    li
      padding: $gap-s 0
      margin: 0
      line-height: 30px
      list-style: none
      position: relative

      &:first-child
        padding-top: $gap

        time
          top: $gap

      &:last-child
        padding-bottom: $gap

      + li
        margin-top: $gap-s

    i
      background-color: orange
      border: 3px solid $BELIZE_HOLE
      border-radius: 50%
      color: white
      width: 30px
      height: 30px
      line-height: 24px
      text-align: center
      font-size .75rem

    time
      position: absolute
      top: $gap-s
      left -7rem
      width 6.5rem
      text-align right

    + .btn
      margin-left: 6rem
      margin-top: $gap
      padding: 6px $gap

@media (max-width: 432px)
  #about-me
    padding: $gap 0

    .intro
      padding: 0 $gap

      h2
        width: 80%
      
      .gravatar
        float: right
        position: static

    .resume
      margin-top: $gap
      margin-left: 50%

      & + .btn
        display: block
        margin-left: auto
        margin-right: auto
        max-width: 120px