#skills
  background-color: darken($BELIZE_HOLE, 5%)

  .item
    color: white
    margin-bottom: $gap

  header
    background-color: darken($BELIZE_HOLE, 10%)
    border-radius: 6px 6px 0 0
    height 7rem
    padding: 1rem 1rem 1rem 6rem
    position relative
    text-align right

    .logo
      max-width: 5rem
      max-height: 5rem
      margin-right: $gap-m
      position absolute
      top 1rem
      left 1rem

    .fa
      font-size 1.5rem

    .fa-star-half-o
      color: gray
      font-weight: lighter

  h3
    background-color: darken($BELIZE_HOLE, 15%)
    border-radius: 0 0 6px 6px
    font-size: 1.5em
    margin: 0
    padding: $gap-m

  @media (max-width: $xs-max-width)
    &
      padding-bottom: 0