#main-slide
  background-color olive
  color white
  height 100%

  .carousel-inner
    height: 100%

  .carousel-item
    background no-repeat center/cover
    color: white
    height: 100%
    flex-direction column
    justify-content center
    align-items center

  .carousel-item.active
  .carousel-item-prev,
  .carousel-item-next
      display flex

  h1
    font-size 4em
    margin 2rem 0 1rem
    text-shadow: 0 4px 1px rgba(0, 0, 0, .25)

  h2
    font-size 3em
    text-shadow: 0 2px 1px rgba(0, 0, 0, .25)

  p
    font-size: 1.5em
    max-width 70%

  .lead
    font-size: 2em

  .socials
    padding-top: $gap-m

    a
      transition all .2s
      border: 2px solid currentColor
      border-radius: 50%
      color: white
      display: inline-block
      font-size: 1.25em
      line-height: 36px
      text-align: center
      width: 2.5rem

      + a
        margin-left $gap-s

      &:hover
        background-color rgba(255,255,255,.25)
        color yellow

  .slide-1
    background-image: url(http://qiniu.meathill.com/slide1.jpg)

    .img-circle
      width: 10rem
      height: 10rem

  .slide-2
    background-image: url(http://qiniu.meathill.com/slide2.jpg)

  .btn
    img
      height 1em

    + .btn
      margin-left .5rem

  @media (max-width: $xs-max-width)
    &
      h1
        font-size: 2em

      h2
        font-size 1.75rem

      p
        font-size 1rem
        max-width 80%

        &.lead
          font-size 1.25rem

      .btn
        display block

        + .btn
          margin-left 0
          margin-top .5rem