#works
  background-color: $SUN_FLOWER
  padding: $gap-lg 0

  article
    color: $white

    a
      color: $red

      &:hover
        text-decoration: underline

  .carousel-control
    background: none

  .carousel-indicators
    top: -58px
    bottom: auto
    width: 30%
    margin-left: -15%
    text-align: right

  .item
    min-height: 586px

    img
      max-width: 100%
      height: auto

  .gamepop,
  .xline
    &.active,
    &.left,
    &.right
      display: flex

    article
      flex: 1

    h2
      text-align: center

    ul
      font-size: 1.5em
      line-height: 2em

  .gamepop
    .right
      order: 3

    article
      order: 2

  .xline
    article
      padding-left: $gap-lg

    h2
      margin-top: 0

  .findx
    header
      text-align: center

    article
      width: 50%
      margin: 0 auto
      padding-top: $gap

    h2
      margin-top: 0

      small
        color: $white
        font-size: 0.5em

    .labels
      float: right

    p:last-child
      margin-bottom: 0

  .labels
    text-align: center

    .label
      background-color: $CARROT
      font-weight: normal

@media (max-width: 432px)
  #works
    .item
      min-height: inherit

      img
        display: block
        margin: 0 auto

      article
        margin-top: $gap

      h2
        margin-top: 0

    .gamepop,
    .xline
      &.active,
      &.left,
      &.right
        display: block

      ul
        font-size: 1em

    .gamepop
      .img
        display: inline-block
        width: 44%
        margin-left: 5%
        vertical-align: top

        &.right
          margin-left: 0
          margin-right: 5%

      article
        width: 100%

    .xline
      article
        padding-left: 0

    .findx
      width: 100%

      article
        padding: $gap $gap 0
        width: auto

      h2
        text-align: center
        
      .labels
        float: none

    .carousel-indicators
      margin-left: 18%

@media (max-width: 320px)
  #works .item article
    height: 300px

@media (max-width: 360px) and (min-width: 321px)
  #works .item article
    height: 270px

@media (max-width: 375px)
  #works
    .item
      img
        max-height: 200px

      &.findx header
        height: 200px

@media (max-width: 432px) and (min-width: 361px)
  #works .item
    img
      height: 250px

    article
      height: 240px