#works
  background-color: $SUN_FLOWER

  article
    color: white

    a
      color: red

      &:hover
        text-decoration: underline

  .carousel-control
    background: none

  .carousel-item
    min-height: 586px

    img
      max-width: 100%
      height: auto

  .labels
    text-align: center

    .badge
      background-color: $CARROT
      font-size .75rem
      font-weight: normal

  .gamepop,
  .xline
    h2
      text-align: center

    ul
      font-size: 1.25em
      line-height: 2

  .gamepop
    .right
      order: 3

    article
      order: 2

  .xline
    article
      padding-left: $gap-lg

    h2
      margin-top: 0

  .findx
    header
      text-align: center

    article
      width: 50%
      margin: 0 auto
      padding-top: $gap

    h2
      margin-top: 0

      small
        color: white
        font-size: 0.5em

    .labels
      float: right

    p:last-child
      margin-bottom: 0

  .meart
    flex-direction column

    h2
      text-align center

@media (max-width: $xs-max-width)
  #works
    .item
      min-height: inherit

      img
        display: block
        margin: 0 auto

      article
        margin-top: $gap

      h2
        margin-top: 0

    .gamepop,
    .xline

      ul
        font-size: 1em

    .gamepop

    .xline
      article
        padding-left: 0

    .findx
      width: 100%

      article
        padding: $gap $gap 0
        width: auto

      h2
        text-align: center
        
      .labels
        float: none

    .carousel-indicators
      margin-left: 18%

@media (max-width: 320px)
  #works .item article
    height: 300px

@media (max-width: 360px) and (min-width: 321px)
  #works .item article
    height: 270px

@media (max-width: 375px)
  #works
    .item
      img
        max-height: 200px

      &.findx header
        height: 200px

@media (max-width: 432px) and (min-width: 361px)
  #works .item
    img
      height: 250px

    article
      height: 240px