.page-header
  border-bottom 3px solid currentColor
  color: white
  margin: 0 auto $gap
  padding-bottom .5rem
  text-align: center
  width: 30%

  h2
    margin-top: 0

  @media (max-width $xs-max-width)
    &
      margin-left 2rem
      margin-right 2rem      width auto