@import "../node_modules/colors.css/src/_variables.css"

// core
@import "core/_colors.styl"
@import "core/_variable.styl"
@import "core/_global.styl"

// component
@import "component/_img.styl"
@import "component/_heading.styl"

// framework
@import "framework/_top-bar.styl"
@import "framework/_slide.styl"
@import "framework/_about-me.styl"
@import "framework/_skills.styl"
@import "framework/_power.styl"
@import "framework/_works.styl"
@import "framework/_blog.styl"
@import "framework/_contact.styl"
@import "framework/_footer.styl"